.not-found {
  display: grid;
  margin-top: 8rem;
  grid-template-columns: 1fr 8fr 1fr;
  text-align: center;

  &__title {
    font-size: 2rem;
    grid-column: 2/3;
  }

  &__link {
    grid-column: 2/3;
    font-size: 2rem;
  }
}
